@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply h-full flex flex-col bg-white;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto;
  }
}
